Rhythm Suite depends on 32-bit versions of: BASS, GLAD, libsodium, and stb_image (header only).
The DLLs and header files of these should be placed on the path or in the "external/libs" folder and "external/include" folder respectively.
Rhythm Suite must be built with the 32-bit version of GCC.
